name: Atualizar Dados Futebol

on:
  workflow_dispatch:  # Permite rodar manualmente
  schedule:
    - cron: '0 10 * * *'  # Roda todo dia às 10h UTC

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Set up job
        uses: actions/checkout@v3

      - name: Instalar Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Instalar bibliotecas
        run: |
          pip install pandas numpy PyGithub lxml requests html5lib beautifulsoup4

      - name: Rodar script de atualização
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
        run: python etl_futebol.py
